@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(255, 255, 0);
  background: linear-gradient(
    270deg,
    rgba(255, 255, 0, 1) 0%,
    rgba(135, 206, 235, 1) 100%
  );
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

input, textarea {
  width: 100%;
  background-color: #242424;
  color: white;
  outline: none;
  border: 3px solid whitesmoke;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 300ms ease;
}

input:hover, textarea:hover {
  border-color: skyblue;
}

textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

.btn {
  background-color: midnightblue;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}

.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blue {
  color: midnightblue;
}

.arrow {
  animation: left 3s infinite alternate;
  position: relative;
  right: -8px;
}
@keyframes left {
  0% {
    opacity: 0%;
    transform: translateX(3px)
  }
  100% {
    opacity: 100%;
    transform: translateX(-3px);
  }
}

/* DARK MODE */
.dark-theme .App {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(25,25,112,1) 100%);
}

.dark-theme .landing__title--intro,
.dark-theme .landing__para,
.dark-theme .about__para,
.dark-theme .tech__para,
.dark-theme .language__name,
.dark-theme .nav__a,
.dark-theme .footer__link,
.dark-theme .footer__copyright {
  color: white;
}

.dark-theme .blue,
.dark-theme .arrow {
  color: yellow;
}

.dark-theme .social__link,
.dark-theme .website__link,
.dark-theme .mail__btn {
  background-color: yellow;
  color: midnightblue;
}

.dark-theme .about__img,
.dark-theme .language__img {
  filter: brightness(0) saturate(100%) invert(97%) sepia(36%) saturate(6316%) hue-rotate(359deg) brightness(103%) contrast(101%);
}

.dark-theme nav,
.dark-theme footer {
  background-color: rgb(7, 7, 7);
}

/* NAVIGATION */
nav {
  height: 80px;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: whitesmoke;
  z-index: 2;
}

.nav__container {
  width: 100%;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.title {
  display: flex;
  align-items: center;
}

.nav__links {
  display: flex;
}

.nav__link {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
}

.nav__link:hover {
  transform: scale(1.1);
}

.nav__link:active {
  transform: scale(0.8);
}

.nav__a {
  text-decoration: none;
  color: black;
}

.btn__menu {
  background-color: transparent;
  font-size: 32px;
  border: none;
  color: black;
  display: none;
}

/* LANDING */
#landing {
  height: calc(100vh - 80px);
}

.landing__container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  padding: 0 30px;
}

.landing__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  animation: animate-profile-pic 800ms 500ms backwards;
}
@keyframes animate-profile-pic {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1)
  }
}

.landing__title--intro {
  font-size: 120px;
}

.landing__title {
  font-size: 120px;
  animation: fade-up 600ms 1500ms backwards;
}

.landing__a {
  text-decoration: none;
}

.landing__para {
  font-size: 24px;
  line-height: 2;
  max-width: 450px;
  animation: fade-up 600ms 2500ms backwards;
}

.social__list {
  margin-top: 16px;
  display: flex;
  animation: fade-up 600ms 3500ms backwards;
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.social__link {
  color: white;
  background-color: midnightblue;
  padding: 8px;
  width: 40px;
  height: 40px;
  font-size: 14px;
  margin-right: 24px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* ABOUT */
#about {
  height: calc(100vh);
}

.about__container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.about__title {
  font-size: 120px;
}

.about__img {
  width: 100px;
  height: 100px;
  filter: brightness(0) saturate(100%) invert(7%) sepia(70%) saturate(5585%)
    hue-rotate(243deg) brightness(98%) contrast(98%);
}

.about__a {
  text-decoration: none;
}

.about__para {
  font-size: 24px;
  line-height: 2;
  max-width: 800px;
}

/* TECHNOLOGIES */
#tech {
  height: calc(100vh - 178px);
  align-items: center;
}

.tech__container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.tech__title {
  font-size: 120px;
}

.tech__para {
  font-size: 24px;
  line-height: 2;
  max-width: 600px;
  margin-bottom: 48px;
  text-align: center;
}

.tech__languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 600px;
}

.tech__language {
  width: 25%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language__img {
  width: 80px;
  height: 80px;
  filter: brightness(0) saturate(100%) invert(7%) sepia(70%) saturate(5585%)
    hue-rotate(243deg) brightness(98%) contrast(98%);
  transition: all 300ms ease;
  position: relative;
}

.tech__language:hover {
  filter: brightness(80%);
  transform: scale(0.9);
}

.tech__language:hover .language__name {
  transform: scale(1);
}

.language__name {
  font-size: 20px;
  transform: scale(0);
  transition: all 300ms ease;
  padding-top: 8px;
}

/* PROJECTS */
#projects {
  align-items: center;
}

.projects__container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.project {
  display: flex;
  justify-content: space-around;
  animation: fade-up 600ms 2000ms backwards;
}

.projects__title {
  font-size: 80px;
  text-align: center;
  margin-bottom: 60px;
  animation: fade-up 600ms 1000ms backwards;
}

.project__wrapper {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  overflow: hidden;
  z-index: 1;
}

.project__img--side {
  width: 25vw;
  margin: 48px 24px 0 24px;
  border-radius: 25px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
}

.project__img--side:hover {
  transform: scale(1.6);
  transition: all 300ms ease;
}

.project__img {
  width: 40vw;
  transition: all 600ms ease;
}

.project__wrapper:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__wrapper:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(100%);
  margin-right: 32px;
  opacity: 0;
  transition: opacity 300ms, transform 450ms ease;
  color: white;
  max-width: 550px;
  line-height: 2;
}

.project__wrapper:hover .project__wrapper--bg {
  opacity: 0.7; 
  visibility: visible;
}

.project__wrapper--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0; 
  transition: all 450ms ease;
  visibility: hidden;
}

.project__link {
  color: white;
}

.a__wrapper {
  text-align: center;
}

.website__link {
  background-color: midnightblue;
  color: white;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
  margin-bottom: 400px;
  animation: fade-up 600ms 3000ms backwards;
}

/* MAIL */
.mail__btn {
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: midnightblue;
  position: fixed;
  bottom: 32px;
  right: 40px;
  z-index: 100;
  box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.28);
}

/* MODAL */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  z-index: 50;
  animation: fade-in 500ms 500ms backwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal__half {
  width: 50%;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.modal__about {
  background-color: whitesmoke;
}

.blue--modal {
  color: midnightblue;
}

.modal__languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modal__language {
  width: 25%;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 300ms ease;
}

.modal__language--img {
  width: 100%;
  height: 50px;
}

.modal__name {
  position: absolute;
  bottom: 0px;
  transform: scale(0);
  font-size: 12px;
  transition: all 300ms ease;
}

.modal__language:hover .modal__name {
  transform: scale(1);
}

.modal__language:hover {
  filter: brightness(80%);
  transform: scale(0.9);
}

.modal__title {
  font-size: 24px;
}

.modal__subtitle {
  margin: 12px 0 24px 0;
  font-size: 14px;
}

.modal__para {
  margin-bottom: 12px;
  line-height: 1.75;
}

.modal__contact {
  background-color: #242424;
  color: white;
}

.form__item {
  margin-bottom: 20px;
}

.form__submit {
  background-color: skyblue;
  border: 2px solid skyblue;
  color: white;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  max-width: 200px;
  padding: 8px 24px;
  transition: all 300ms ease;
}

.form__submit:hover {
  border-color: white;
  background-color: transparent;
}

.form__submit:active {
  border-color: skyblue;
  color: skyblue;
}

.modal__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.modal__overlay--loading {
  background-color: #242424;
  font-size: 80px;
}

.fa-spinner {
  animation: spinner 750ms infinite linear;
}
@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal__overlay--success {
  background-color: #4bb543;
  color: black;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 20px;
}

.modal__overlay--visible {
  z-index: 1;
}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 36px;
  z-index: 100;
}

/* FOOTER */
.footer__container {
  padding: 16px 0;
  bottom: 0px;
}

footer {
  background-color: whitesmoke;
  z-index: 1;
}

.footer__logo {
  display: flex;
}

.footer__logo--img {
  width: 100px;
}

.footer__link,
.footer__copyright {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
}

.footer__list {
  margin: 20px 0 24px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer__link {
  padding: 0 16px;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
  .header__description {
    padding: 0 24px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
  }

  button {
    font-size: 18px;
  }

  .project__img--side {
    display: none;
  }

  .project__img {
    width: 90vw;
    transition: all 600ms ease;
  }

  .modal__half {
    padding: 8px 8px;
  }
}

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {
  .btn__menu {
    display: block;
  }

  .nav__link {
    display: none;
  }

  .mail__btn {
    display: none;
  }
}
